html,body{
    background-color:rgba(128, 54, 197,0.6);
    height:100%;
    margin:0;
    padding:0;
}
#display{
    font-size:4em;   
}
.container{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;        
}
.content{
    width:38%;
    height:70%;
    background-color:rgba(124, 237, 235, 0.597);
    display:flex;    
    flex-direction:column;
    align-items:center;   
}
.buttons{
    width:92%;
   margin-top:1.2em;
    display:grid;
    grid-template-columns:repeat(4,25%);
    row-gap:0.1em;
    
    
}
button{
    width:20%;
    padding:2em 4em;
    border-radius:10%;
}
button:hover{
    background-color:black;
    color:white;
}
.zero{    
    width:92%;
    grid-column:span 2;
}